* {
    padding: 0;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
}

.bk{
    width: 90%;
    border: 4px solid white;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFEB3B;
    text-shadow:
        -3px -3px 0 #fff,
         3px -3px 0 #fff,
        -3px  3px 0 #fff,
         3px  3px 0 #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    z-index: 10;
    pointer-events: none;
}

.tg{
    position: absolute;
    bottom: 0;
    width: 180px;
    animation: tg-animation 3s infinite linear;
}
@keyframes tg-animation{
    from{ right: 0; }
    to { right: 100%; }
}

.bo{
    position: absolute;
    bottom: 0;
    width: 100px;
    left: 50px;
}

.jump{
    animation: jump 1s ease-out;
}
@keyframes jump{
  0%{ bottom: 0; }
  20%{ bottom: 250px; }
  40%{ bottom: 400px; }
  50%{ bottom: 400px; }
  80%{ bottom: 400px; }
  100%{ bottom: 0; }
}

.ai{
    position: absolute;
    bottom: 550px;
    width: 150px;
    animation: ieon 20s infinite linear;
}
@keyframes ieon{
    from{ right: -100%; }
    to { right: 100%; }
}

#jumpscare {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    transform: translate(-50%, -50%) scaleX(0.2) scaleY(0);
    z-index: 9999;
    pointer-events: none;
}

@keyframes violentShake {
  0%   { transform: translate(0); }
  10%  { transform: translate(-25px, 20px); }
  20%  { transform: translate(25px, -20px); }
  30%  { transform: translate(-20px, -25px); }
  40%  { transform: translate(20px, 25px); }
  50%  { transform: translate(-15px, 15px); }
  60%  { transform: translate(15px, -15px); }
  70%  { transform: translate(-10px, -10px); }
  80%  { transform: translate(10px, 10px); }
  90%  { transform: translate(-5px, 5px); }
  100% { transform: translate(0); }
}

.score {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    z-index: 10;
}
